/* Reset */

html, body, div, span, article,
header, section, footer, nav,
h1, h2, h3, h4, h5, h6,
p, img, strong, b, u, i,
dl, dt, dd, ol, ul, li,
iframe, form, input, label, caption, table, tr, th, td,
figure, figcaption {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* Box Model */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/* Basic */

body {
    /* Size */
    height: 100vh;

    /* Content Position */
    padding: 1em;

    /* Content */
    background-color: #fff;
    color: #000;
}

@media screen and (max-width: 480px) {
    html, body {
        font-size: 10px;
        min-width: 320px;
    }
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.5em;
    text-transform: uppercase;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.35rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: .9rem;
}

h6 {
    font-size: .7rem;
}

p {
    margin: 0 0 2em 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/* Body */

@media screen and (max-width: 480px) {
    html, body {
        min-width: 0;
    }
}

/* List */

ul {
    margin: 0 0 1rem 3rem;
}

li {
    line-height: 1.5em;
}


/* Code */
pre {
    min-width: 0;
}

code {
    /* Position */
    display: block;
    margin: 1em;

    /* Size */
    width: 100%;
    max-width: 1000px;
    min-width: 0;
    overflow-x: scroll;

    /* Content */
    background-color: #ddd;
    border-radius: 4px;

    /* Content Position */
    padding: 1em;
    line-height: 1.5em;
}